USE [master]
GO
/****** Object:  Database [pts_database]    Script Date: 10.10.2025 13:06:54 ******/
CREATE DATABASE [pts_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pts_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pts_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pts_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pts_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pts_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[pts_database] TO [Yusuf\yusuf]
GO
USE [pts_database]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NULL,
	[islem_turu] [nvarchar](50) NULL,
	[tablo_adi] [nvarchar](100) NULL,
	[kayit_id] [int] NULL,
	[eski_deger] [nvarchar](max) NULL,
	[yeni_deger] [nvarchar](max) NULL,
	[islem_tarihi] [datetime] NULL,
	[aciklama] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[audit_log] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[banka_hesaplari]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banka_hesaplari](
	[hesap_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[banka_adi] [nvarchar](100) NOT NULL,
	[iban] [nvarchar](34) NOT NULL,
	[birincil_hesap_mi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hesap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[banka_hesaplari] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[belge_turleri]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[belge_turleri](
	[belge_turu_id] [int] IDENTITY(1,1) NOT NULL,
	[belge_turu_adi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[belge_turu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[belge_turleri] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[departmanlar]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departmanlar](
	[departman_id] [int] IDENTITY(1,1) NOT NULL,
	[departman_adi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[departman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[departmanlar] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[duyurular]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duyurular](
	[duyuru_id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](200) NOT NULL,
	[icerik] [nvarchar](max) NOT NULL,
	[yayinlayan_id] [int] NOT NULL,
	[yayin_tarihi] [datetime] NULL,
	[gecerlilik_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[duyuru_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[duyurular] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[egitim_katilimlari]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[egitim_katilimlari](
	[katilim_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[egitim_id] [int] NOT NULL,
	[tamamlama_durumu] [bit] NULL,
	[puan] [int] NULL,
	[sertifika_yolu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[katilim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[egitim_katilimlari] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[fazla_mesailer]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fazla_mesailer](
	[mesai_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[mesai_tarihi] [date] NOT NULL,
	[mesai_suresi_saat] [decimal](5, 2) NOT NULL,
	[aciklama] [nvarchar](500) NULL,
	[onaylayan_personel_id] [int] NULL,
	[odendi_mi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[mesai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[fazla_mesailer] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[izin_turleri]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[izin_turleri](
	[izin_turu_id] [int] IDENTITY(1,1) NOT NULL,
	[izin_turu_adi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[izin_turu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[izin_turleri] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[izinler]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[izinler](
	[izin_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[izin_turu_id] [int] NOT NULL,
	[baslangic_tarihi] [datetime] NOT NULL,
	[bitis_tarihi] [datetime] NOT NULL,
	[izin_gun_sayisi] [decimal](4, 1) NULL,
	[aciklama] [nvarchar](500) NULL,
	[talep_tarihi] [datetime] NULL,
	[onay_durumu] [nvarchar](20) NULL,
	[onaylayan_personel_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[izin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[izinler] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NULL,
	[kullanici_adi] [nvarchar](50) NOT NULL,
	[sifre_hash] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[kullanicilar] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[maas_gecmisi]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maas_gecmisi](
	[maas_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[brut_maas] [decimal](18, 2) NOT NULL,
	[baslangic_tarihi] [date] NOT NULL,
	[degisiklik_nedeni] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[maas_gecmisi] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[personel]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[personel_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[tc_kimlik_no] [nvarchar](11) NOT NULL,
	[sgk_sicil_no] [nvarchar](30) NULL,
	[personel_sicil_no] [nvarchar](20) NULL,
	[dogum_tarihi] [date] NOT NULL,
	[cinsiyet] [nvarchar](10) NULL,
	[medeni_durum] [nvarchar](20) NULL,
	[telefon_kisisel] [nvarchar](15) NULL,
	[eposta_is] [nvarchar](100) NOT NULL,
	[eposta_kisisel] [nvarchar](100) NULL,
	[adres] [nvarchar](max) NULL,
	[ise_giris_tarihi] [date] NOT NULL,
	[isten_ayrilma_tarihi] [date] NULL,
	[aktif_mi] [bit] NOT NULL,
	[calisma_sekli] [nvarchar](50) NULL,
	[fotograf_yolu] [nvarchar](255) NULL,
	[departman_id] [int] NULL,
	[unvan_id] [int] NULL,
	[yonetici_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[personel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[personel] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[personel_belgeleri]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel_belgeleri](
	[belge_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[belge_turu_id] [int] NOT NULL,
	[belge_adi] [nvarchar](200) NOT NULL,
	[yuklenme_tarihi] [datetime] NULL,
	[dosya_yolu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[belge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[personel_belgeleri] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[personel_vardiyalari]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel_vardiyalari](
	[personel_vardiya_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[vardiya_id] [int] NOT NULL,
	[baslangic_tarihi] [date] NOT NULL,
	[bitis_tarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[personel_vardiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[personel_vardiyalari] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[sirket_egitimleri]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sirket_egitimleri](
	[egitim_id] [int] IDENTITY(1,1) NOT NULL,
	[egitim_adi] [nvarchar](200) NOT NULL,
	[egitmen] [nvarchar](150) NULL,
	[baslangic_tarihi] [datetime] NULL,
	[bitis_tarihi] [datetime] NULL,
	[konum] [nvarchar](200) NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[egitim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[sirket_egitimleri] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[unvanlar]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unvanlar](
	[unvan_id] [int] IDENTITY(1,1) NOT NULL,
	[unvan_adi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unvan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[unvanlar] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[vardiya_tanimlari]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vardiya_tanimlari](
	[vardiya_id] [int] IDENTITY(1,1) NOT NULL,
	[vardiya_adi] [nvarchar](100) NOT NULL,
	[baslangic_saati] [time](7) NOT NULL,
	[bitis_saati] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vardiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[vardiya_tanimlari] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[zimmet]    Script Date: 10.10.2025 13:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zimmet](
	[zimmet_id] [int] IDENTITY(1,1) NOT NULL,
	[personel_id] [int] NOT NULL,
	[urun_adi] [nvarchar](150) NOT NULL,
	[seri_numarasi] [nvarchar](100) NULL,
	[verilis_tarihi] [date] NOT NULL,
	[iade_tarihi] [date] NULL,
	[aciklama] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[zimmet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[zimmet] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([log_id], [kullanici_id], [islem_turu], [tablo_adi], [kayit_id], [eski_deger], [yeni_deger], [islem_tarihi], [aciklama]) VALUES (1, 2, N'maaş güncelleme', N'maas_gecmisi', 4, N'28000.00', N'32000.00', CAST(N'2025-10-10T07:32:42.987' AS DateTime), N'Fatma Demir için performans zammı yapıldı.')
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[banka_hesaplari] ON 

INSERT [dbo].[banka_hesaplari] ([hesap_id], [personel_id], [banka_adi], [iban], [birincil_hesap_mi]) VALUES (1, 1, N'A Bankası', N'TR110000111122223333444455', 1)
INSERT [dbo].[banka_hesaplari] ([hesap_id], [personel_id], [banka_adi], [iban], [birincil_hesap_mi]) VALUES (2, 3, N'B Bankası', N'TR220000111122223333444466', 1)
SET IDENTITY_INSERT [dbo].[banka_hesaplari] OFF
GO
SET IDENTITY_INSERT [dbo].[belge_turleri] ON 

INSERT [dbo].[belge_turleri] ([belge_turu_id], [belge_turu_adi]) VALUES (3, N'Diploma')
INSERT [dbo].[belge_turleri] ([belge_turu_id], [belge_turu_adi]) VALUES (1, N'İş Sözleşmesi')
INSERT [dbo].[belge_turleri] ([belge_turu_id], [belge_turu_adi]) VALUES (2, N'Kimlik Fotokopisi')
SET IDENTITY_INSERT [dbo].[belge_turleri] OFF
GO
SET IDENTITY_INSERT [dbo].[departmanlar] ON 

INSERT [dbo].[departmanlar] ([departman_id], [departman_adi]) VALUES (2, N'Bilgi Teknolojileri')
INSERT [dbo].[departmanlar] ([departman_id], [departman_adi]) VALUES (3, N'İnsan Kaynakları')
INSERT [dbo].[departmanlar] ([departman_id], [departman_adi]) VALUES (1, N'Yönetim')
SET IDENTITY_INSERT [dbo].[departmanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[duyurular] ON 

INSERT [dbo].[duyurular] ([duyuru_id], [baslik], [icerik], [yayinlayan_id], [yayin_tarihi], [gecerlilik_tarihi]) VALUES (1, N'Kurban Bayramı Tatili Hk.', N'Değerli çalışma arkadaşlarımız, Kurban Bayramı tatili nedeniyle 28 Haziran - 2 Temmuz tarihleri arasında resmi tatil olacaktır. İyi bayramlar dileriz.', 2, CAST(N'2025-10-10T07:32:39.637' AS DateTime), CAST(N'2023-07-03' AS Date))
SET IDENTITY_INSERT [dbo].[duyurular] OFF
GO
SET IDENTITY_INSERT [dbo].[egitim_katilimlari] ON 

INSERT [dbo].[egitim_katilimlari] ([katilim_id], [personel_id], [egitim_id], [tamamlama_durumu], [puan], [sertifika_yolu]) VALUES (1, 3, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[egitim_katilimlari] OFF
GO
SET IDENTITY_INSERT [dbo].[fazla_mesailer] ON 

INSERT [dbo].[fazla_mesailer] ([mesai_id], [personel_id], [mesai_tarihi], [mesai_suresi_saat], [aciklama], [onaylayan_personel_id], [odendi_mi]) VALUES (1, 3, CAST(N'2025-09-28' AS Date), CAST(3.50 AS Decimal(5, 2)), N'Proje teslimatı için yapılan ek çalışma.', NULL, 1)
INSERT [dbo].[fazla_mesailer] ([mesai_id], [personel_id], [mesai_tarihi], [mesai_suresi_saat], [aciklama], [onaylayan_personel_id], [odendi_mi]) VALUES (2, 4, CAST(N'2025-10-02' AS Date), CAST(2.00 AS Decimal(5, 2)), N'Kritik bir hatanın gece giderilmesi.', NULL, 1)
INSERT [dbo].[fazla_mesailer] ([mesai_id], [personel_id], [mesai_tarihi], [mesai_suresi_saat], [aciklama], [onaylayan_personel_id], [odendi_mi]) VALUES (3, 5, CAST(N'2025-09-15' AS Date), CAST(4.25 AS Decimal(5, 2)), N'Hafta sonu acil sunucu bakımı.', NULL, 1)
SET IDENTITY_INSERT [dbo].[fazla_mesailer] OFF
GO
SET IDENTITY_INSERT [dbo].[izin_turleri] ON 

INSERT [dbo].[izin_turleri] ([izin_turu_id], [izin_turu_adi]) VALUES (4, N'Babalık İzni')
INSERT [dbo].[izin_turleri] ([izin_turu_id], [izin_turu_adi]) VALUES (2, N'Hastalık Raporu')
INSERT [dbo].[izin_turleri] ([izin_turu_id], [izin_turu_adi]) VALUES (3, N'Ücretsiz İzin')
SET IDENTITY_INSERT [dbo].[izin_turleri] OFF
GO
SET IDENTITY_INSERT [dbo].[izinler] ON 

INSERT [dbo].[izinler] ([izin_id], [personel_id], [izin_turu_id], [baslangic_tarihi], [bitis_tarihi], [izin_gun_sayisi], [aciklama], [talep_tarihi], [onay_durumu], [onaylayan_personel_id]) VALUES (1, 4, 1, CAST(N'2023-08-14T09:00:00.000' AS DateTime), CAST(N'2023-08-18T18:00:00.000' AS DateTime), CAST(5.0 AS Decimal(4, 1)), N'Yıllık izin kullanımı', CAST(N'2025-10-10T07:32:29.720' AS DateTime), N'onaylandı', 1)
INSERT [dbo].[izinler] ([izin_id], [personel_id], [izin_turu_id], [baslangic_tarihi], [bitis_tarihi], [izin_gun_sayisi], [aciklama], [talep_tarihi], [onay_durumu], [onaylayan_personel_id]) VALUES (2, 2, 2, CAST(N'2025-10-10T12:04:34.623' AS DateTime), CAST(N'2025-10-12T12:04:34.000' AS DateTime), CAST(3.0 AS Decimal(4, 1)), N'Hastaneye gidildi ve rapor alındı.', CAST(N'2025-10-10T12:04:54.313' AS DateTime), N'onaylandı', 1)
SET IDENTITY_INSERT [dbo].[izinler] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanicilar] ON 

INSERT [dbo].[kullanicilar] ([kullanici_id], [personel_id], [kullanici_adi], [sifre_hash]) VALUES (1, 1, N'admin', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5')
SET IDENTITY_INSERT [dbo].[kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[maas_gecmisi] ON 

INSERT [dbo].[maas_gecmisi] ([maas_id], [personel_id], [brut_maas], [baslangic_tarihi], [degisiklik_nedeni]) VALUES (1, 1, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2022-01-01' AS Date), N'Yıllık Zam')
INSERT [dbo].[maas_gecmisi] ([maas_id], [personel_id], [brut_maas], [baslangic_tarihi], [degisiklik_nedeni]) VALUES (2, 2, CAST(28000.00 AS Decimal(18, 2)), CAST(N'2022-01-01' AS Date), N'Yıllık Zam')
INSERT [dbo].[maas_gecmisi] ([maas_id], [personel_id], [brut_maas], [baslangic_tarihi], [degisiklik_nedeni]) VALUES (3, 3, CAST(25000.00 AS Decimal(18, 2)), CAST(N'2022-06-01' AS Date), N'İşe Giriş')
SET IDENTITY_INSERT [dbo].[maas_gecmisi] OFF
GO
SET IDENTITY_INSERT [dbo].[personel] ON 

INSERT [dbo].[personel] ([personel_id], [ad], [soyad], [tc_kimlik_no], [sgk_sicil_no], [personel_sicil_no], [dogum_tarihi], [cinsiyet], [medeni_durum], [telefon_kisisel], [eposta_is], [eposta_kisisel], [adres], [ise_giris_tarihi], [isten_ayrilma_tarihi], [aktif_mi], [calisma_sekli], [fotograf_yolu], [departman_id], [unvan_id], [yonetici_id]) VALUES (1, N'Ali', N'Yılmaz', N'11111111111', NULL, N'MD-001', CAST(N'1975-05-10' AS Date), N'erkek', N'evli', N'5551112233', N'ali.yilmaz@sirket.com', NULL, NULL, CAST(N'2010-02-01' AS Date), NULL, 1, N'tam zamanlı', NULL, 1, 1, NULL)
INSERT [dbo].[personel] ([personel_id], [ad], [soyad], [tc_kimlik_no], [sgk_sicil_no], [personel_sicil_no], [dogum_tarihi], [cinsiyet], [medeni_durum], [telefon_kisisel], [eposta_is], [eposta_kisisel], [adres], [ise_giris_tarihi], [isten_ayrilma_tarihi], [aktif_mi], [calisma_sekli], [fotograf_yolu], [departman_id], [unvan_id], [yonetici_id]) VALUES (2, N'Ayşe', N'Kaya', N'22222222222', NULL, N'IK-001', CAST(N'1988-11-20' AS Date), N'kadın', N'evli', N'5552223344', N'ayse.kaya@sirket.com', NULL, NULL, CAST(N'2015-08-15' AS Date), NULL, 1, N'tam zamanlı', NULL, 3, 4, 1)
INSERT [dbo].[personel] ([personel_id], [ad], [soyad], [tc_kimlik_no], [sgk_sicil_no], [personel_sicil_no], [dogum_tarihi], [cinsiyet], [medeni_durum], [telefon_kisisel], [eposta_is], [eposta_kisisel], [adres], [ise_giris_tarihi], [isten_ayrilma_tarihi], [aktif_mi], [calisma_sekli], [fotograf_yolu], [departman_id], [unvan_id], [yonetici_id]) VALUES (3, N'Mehmet', N'Çelik', N'33333333333', NULL, N'BT-001', CAST(N'1992-01-30' AS Date), N'erkek', N'bekar', N'5553334455', N'mehmet.celik@sirket.com', NULL, NULL, CAST(N'2018-06-01' AS Date), NULL, 1, N'tam zamanlı', NULL, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[personel] OFF
GO
SET IDENTITY_INSERT [dbo].[sirket_egitimleri] ON 

INSERT [dbo].[sirket_egitimleri] ([egitim_id], [egitim_adi], [egitmen], [baslangic_tarihi], [bitis_tarihi], [konum], [aciklama]) VALUES (1, N'İleri Seviye SQL Server Performans Tuning', N'Ahmet Kurt', CAST(N'2023-11-20T09:00:00.000' AS DateTime), CAST(N'2023-11-22T17:00:00.000' AS DateTime), N'Online - Teams', NULL)
SET IDENTITY_INSERT [dbo].[sirket_egitimleri] OFF
GO
SET IDENTITY_INSERT [dbo].[unvanlar] ON 

INSERT [dbo].[unvanlar] ([unvan_id], [unvan_adi]) VALUES (1, N'Genel Müdür')
INSERT [dbo].[unvanlar] ([unvan_id], [unvan_adi]) VALUES (4, N'İnsan Kaynakları Müdürü')
INSERT [dbo].[unvanlar] ([unvan_id], [unvan_adi]) VALUES (3, N'Kıdemli Yazılım Geliştirici')
SET IDENTITY_INSERT [dbo].[unvanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[vardiya_tanimlari] ON 

INSERT [dbo].[vardiya_tanimlari] ([vardiya_id], [vardiya_adi], [baslangic_saati], [bitis_saati]) VALUES (1, N'Sabah Vardiyası', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[vardiya_tanimlari] ([vardiya_id], [vardiya_adi], [baslangic_saati], [bitis_saati]) VALUES (2, N'Akşam Vardiyası', CAST(N'16:00:00' AS Time), CAST(N'00:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[vardiya_tanimlari] OFF
GO
SET IDENTITY_INSERT [dbo].[zimmet] ON 

INSERT [dbo].[zimmet] ([zimmet_id], [personel_id], [urun_adi], [seri_numarasi], [verilis_tarihi], [iade_tarihi], [aciklama]) VALUES (1, 3, N'Dell XPS 15 Laptop', N'DXPS15-TR-12345', CAST(N'2022-06-05' AS Date), NULL, N'Yazılım geliştirme için tahsis edildi.')
SET IDENTITY_INSERT [dbo].[zimmet] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__banka_he__983466782E8EF3D5]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[banka_hesaplari] ADD UNIQUE NONCLUSTERED 
(
	[iban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__belge_tu__5693C9C85DD6A3CE]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[belge_turleri] ADD UNIQUE NONCLUSTERED 
(
	[belge_turu_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departma__E32F75498C9F1058]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[departmanlar] ADD UNIQUE NONCLUSTERED 
(
	[departman_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__izin_tur__1786E6C4895968C1]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[izin_turleri] ADD UNIQUE NONCLUSTERED 
(
	[izin_turu_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__kullanic__48A5539E612BC581]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[personel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__kullanic__CFFBC802EC25A880]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[kullanici_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personel__0A87577F3403298B]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[personel] ADD UNIQUE NONCLUSTERED 
(
	[personel_sicil_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personel__914FD021CE8B5D3A]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[personel] ADD UNIQUE NONCLUSTERED 
(
	[telefon_kisisel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personel__B9A62ED8C0485E4B]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[personel] ADD UNIQUE NONCLUSTERED 
(
	[tc_kimlik_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personel__F19D2C523C819979]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[personel] ADD UNIQUE NONCLUSTERED 
(
	[eposta_is] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__unvanlar__8E974DA523DE3179]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[unvanlar] ADD UNIQUE NONCLUSTERED 
(
	[unvan_adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__zimmet__353D946C3AA44239]    Script Date: 10.10.2025 13:06:55 ******/
ALTER TABLE [dbo].[zimmet] ADD UNIQUE NONCLUSTERED 
(
	[seri_numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [islem_tarihi]
GO
ALTER TABLE [dbo].[banka_hesaplari] ADD  DEFAULT ((0)) FOR [birincil_hesap_mi]
GO
ALTER TABLE [dbo].[duyurular] ADD  DEFAULT (getdate()) FOR [yayin_tarihi]
GO
ALTER TABLE [dbo].[egitim_katilimlari] ADD  DEFAULT ((0)) FOR [tamamlama_durumu]
GO
ALTER TABLE [dbo].[fazla_mesailer] ADD  DEFAULT ((0)) FOR [odendi_mi]
GO
ALTER TABLE [dbo].[izinler] ADD  DEFAULT (getdate()) FOR [talep_tarihi]
GO
ALTER TABLE [dbo].[izinler] ADD  DEFAULT ('beklemede') FOR [onay_durumu]
GO
ALTER TABLE [dbo].[personel] ADD  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[personel_belgeleri] ADD  DEFAULT (getdate()) FOR [yuklenme_tarihi]
GO
ALTER TABLE [dbo].[banka_hesaplari]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[duyurular]  WITH CHECK ADD FOREIGN KEY([yayinlayan_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[egitim_katilimlari]  WITH CHECK ADD FOREIGN KEY([egitim_id])
REFERENCES [dbo].[sirket_egitimleri] ([egitim_id])
GO
ALTER TABLE [dbo].[egitim_katilimlari]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[fazla_mesailer]  WITH CHECK ADD FOREIGN KEY([onaylayan_personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[fazla_mesailer]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[izinler]  WITH CHECK ADD FOREIGN KEY([izin_turu_id])
REFERENCES [dbo].[izin_turleri] ([izin_turu_id])
GO
ALTER TABLE [dbo].[izinler]  WITH CHECK ADD FOREIGN KEY([onaylayan_personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[izinler]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[kullanicilar]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[maas_gecmisi]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD FOREIGN KEY([departman_id])
REFERENCES [dbo].[departmanlar] ([departman_id])
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD FOREIGN KEY([unvan_id])
REFERENCES [dbo].[unvanlar] ([unvan_id])
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD FOREIGN KEY([yonetici_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[personel_belgeleri]  WITH CHECK ADD FOREIGN KEY([belge_turu_id])
REFERENCES [dbo].[belge_turleri] ([belge_turu_id])
GO
ALTER TABLE [dbo].[personel_belgeleri]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[personel_vardiyalari]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
ALTER TABLE [dbo].[personel_vardiyalari]  WITH CHECK ADD FOREIGN KEY([vardiya_id])
REFERENCES [dbo].[vardiya_tanimlari] ([vardiya_id])
GO
ALTER TABLE [dbo].[zimmet]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([personel_id])
GO
USE [master]
GO
